.App {
  background-color: #fffefa;
}
.profileimg-container{
  max-width: 30%;
  max-height: 30%;
}
.profileimg{
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}
.home-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.home-content{
  max-width: 40%;
  max-height: 80%; 

}
.home-welcome {
  width: 30vw;
  margin-left: 10%;
  margin-top: -10%;
  margin-bottom: -1rem;
}
.home-body {
  margin: 0 10%;
  background-color: red;
  border-radius: 0.5rem;
  justify-content: center;
  max-width: 100%;
}

.home-footer {
  margin-top: -1rem;
  margin-left: 10%;
  align-items: center;
  flex-direction: center;
  justify-content: center;
  max-width: 80%;
}

.header-1 {
  color: black;
  padding: 1%;
  max-width: 20rem;
  font-family: monospace; 
  border: 1px
}

.header-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
  color: white;
  max-width: 100%;
  border-radius: 0.5rem;
  font-size: xx-large;
  font-style: italic;
  text-align: center;
}

.header-3 {
  background-color: grey;
  align-items: center;
  color: white;
  padding: 1%;
  max-width: 13rem;
  font-size: 1.3rem;
  border-radius: 0.5rem;
  font-family: sans-serif;
}
.about-bio {
  font-size: 18px;
  color: #3d3d3d;
  font-family: 'Times New Roman', Times, serif;
  padding: 5%;
  max-width: 50rem;
}
.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}
.projects-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  text-align: center;

}

.project-card {
  display: flex;
  border: 2px solid lightgrey;
  margin: 1rem;
  border-radius: 1rem;
  padding: 2.5rem 0;
}

.project-image {
  background: contain;
  width: 40vw;
  max-height: 40vh;
  border: 1px solid black;
  border-radius: 3%;
  margin: 1% 5%;
}

.project-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  max-width: 40vw;
}


.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.contact-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-logos{
  display: flex;
  justify-content: space-evenly;
  width: 25vw;
  list-style-type: none;
}

.contact-logo {
  list-style-type: none;
  padding: 5%;
  margin: 5%;
}
.contact-logo:hover{
  border-bottom: 2px solid grey;
}

.linkedin-logo {
  max-width: 32px;
  max-height: 32px;
}
.titles{
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
  text-decoration: underline;
}
.logo {
  padding: 1rem;
}
.launch{
  display: flex;
  flex-direction: column;
}
.launch-logo {
  width: 25px;
  height: 25px;
  padding: .3rem;
  border: 1px solid lightgrey;
  border-radius: 1rem;
}
.launch-logo:hover{
  text-decoration: underline;
  background-color: grey;
}
.logo-container{
  margin-left: 10%;
  
}
.logos{
   max-width: 50px;
   max-height: 50px;
}
.resume{
  padding: 1%;
  color: black;
  border: 2px solid black;
  text-decoration: none;
  border-radius: 0.5rem;
}
.resume:hover{
  background-color: lightgrey;
}
@media only screen and (max-width: 700px){

  .about-bio{
    font-size: 15px;
  }

}
