.navbar-list, .navbar-list a{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 7vh;
  list-style-type: none;
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: medium;
  text-decoration: none;
}
.nav-item:hover{
  text-decoration: underline;
}
